{% load staticfiles %}
<html> 
<head>
    <title>Veszprém megyei barangolások</title>
    <link rel="stylesheet" href="{% static 'css/stilus.css' %}">
</head>
<body>
<div id="main">
<div id="header">
</div>
<div id="navigation">
    <ul>
    <li><a class="active" href="index.html" rel="external">főoldal</a></li>
    <li><a href="{% url 'news' %}">hírek</a></li>
    <li><a href="{% url 'news' %}">túraleírások</a></li>
    <li><a href="{% url 'news' %}">programok</a></li>
    <li><a href="{% url 'news' %}">tudnivalók</a></li>
    <li><a href="{% url 'news' %}">linkek</a></li>
    <li><a href="{% url 'news' %}">kapcsolat</a></li>
    </ul>
</div>

{% block content %}
{% endblock %}

</body>
</html>
