{% extends 'main_template.html' %}
{% load widget_tweaks %}

{% block content %}
<script>
function insertDate() {
    document.getElementById('id_date').value = Date();
}
</script>

<div class="news">
    <h1>New post</h1>
    <form method="POST">{% csrf_token %}
    <div class="form">
    
        {% for field in newsPostForm %}
            <span class = 'form-label'>{{ field.label_tag }}</span>
                 {{ field|add_class:'form-control' }}
                 {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
            <br><br>           
         {% endfor %}
     </div>
     
    <div class="form">
      <button type="submit">
        <span></span> Save
      </button>
      <button>
      <a href="{% url 'news' %}" class="button">Cancel</a></button>
      <button type="button" onclick="insertDate()">Try it</button>
    </div>
    
    </form>
</div>
{% endblock %}